:root {
  --black: #000;
  --dark-gray: #222;
  --gray: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-gray);
}

#content {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

.lamps {
  display: flex;
  justify-content: space-around;
}

.lamp {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lamp-wire {
  height: 35vh;
  width: 4px;
  background-color: var(--black);
}

.lamp-bulb {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: var(--gray);
  border-radius: 50%;
}

.lamp-bulb::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 22.5px;
  width: 35px;
  height: 80px;
  background-color: var(--gray);
  border-top: 30px solid var(--black);
  border-radius: 10px;
}

.lamp-bulb span:nth-child(1) {
  position: absolute;
  top: -16px;
  left: -4px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  transform: rotate(342deg);
  border-bottom-right-radius: 40px;
  box-shadow: 20px 20px 0 10px var(--gray);
}

.lamp-bulb span:nth-child(2) {
  position: absolute;
  top: -16px;
  right: -4px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  transform: rotate(18deg);
  border-bottom-left-radius: 40px;
  box-shadow: -20px 20px 0 10px var(--gray);
}
